config/
*.log
*.ipynb
*.ipynb_checkpoints/
__pycache__/
results/
weights/
wandb/
data/
submissions/
/.vscode
*.npy
*.pth
*.sh
*.json
*.out
*.zip
*.tiff

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
